<center>
<%= image_tag 'dpslogo.png', style: 'height: 150px; width: 150px;' %>
<h3>Delhi Public School</h3>
<b>Student Name</b> : <span> Aayushi Malviya </span><br>
<b>Roll Number</b> : <span> 10501 </span><br>
<b>Class</b> : <span> 10th </span>
<table class="table bg-dark text-white" style = 'width: 50%; text-align: center; color: white; '>

<tr>
    <th> Subject</th>
    <th> Total </th>
    <th> Marks </th>
</tr>

<tr>
    <td>Maths</td>
    <td>100</td>
    <td>78</td>
</tr>
<tr>
    <td>English</td>
    <td>100</td>
    <td>78</td>
</tr>
<tr>
    <td>Sanskrit</td>
    <td>100</td>
    <td>78</td>
</tr>
<tr>
    <td>Science</td>
    <td>100</td>
    <td>78</td>
</tr>
<tr>
    <td>So.Study</td>
    <td>100</td>
    <td>78</td>
</tr>
<tr>
<td colspan="2"> Total </td>
<td> 396 </td>
</tr>
</table>
<br>
<%= link_to "Print PDF", home_index_path(format: :pdf), class: 'btn btn-info' , style: 'border-radius: 20px; width: 200px;'%>
</center>